.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-header {
  background-color: #497697;
  color: white;
}
.custom-header img {
  border-radius: 50%;
  background-color: white;
}
.custom-header .nav-link {
  color: white;
  font-size: 0.9rem;
}
.footer {
  background-color: #a0c0c9;
  color: #000;
  padding: 20px 0;
  text-align: center;
}

.footer_cl{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_clr{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.btn-custom_sub {
  background-color: #497697;
  border-color: #497697;
  color: white;
}

.btn-custom_g {
  background-color: #9cc5e2;
  border-color: #9cc5e2;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.container {
  flex: 1;
}
